modules/ejbca-xkms/resources/xkms.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="XMLKeyManagement"
  targetNamespace="http://www.w3.org/2002/03/xkms#wsdl"
  xmlns:tns="http://www.w3.org/2002/03/xkms#wsdl"  
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xkms="http://www.w3.org/2002/03/xkms#"
  xmlns:ds="http://www.w3.org/2000/09/xmldsig#">

<types>
  <xsd:schema>
    <xsd:import namespace="http://www.w3.org/2002/03/xkms#" schemaLocation="xkms.xsd"/>	<!-- http://www.w3.org/TR/xkms2/Schemas/xkms.xsd -->
  </xsd:schema>
</types>


  <message name="PendingRequest">
    <part name="body" element="xkms:PendingRequest"/>
  </message>
  <message name="PendingResult">
    <part name="body" element="xkms:Result"/>
  </message>
  <message name="CompoundRequest">
    <part name="body" element="xkms:CompoundRequest"/>
  </message>
  <message name="CompoundResult">
    <part name="body" element="xkms:CompoundResult"/>
  </message>
  <message name="StatusRequest">
    <part name="body" element="xkms:StatusRequest"/>
  </message>
  <message name="StatusResult">
    <part name="body" element="xkms:StatusResult"/>
  </message>
  <message name="LocateRequest">
    <part name="body" element="xkms:LocateRequest"/>
  </message>
  <message name="LocateResult">
    <part name="body" element="xkms:LocateResult"/>
  </message>
  <message name="ValidateRequest">
    <part name="body" element="xkms:ValidateRequest"/>
  </message>
  <message name="ValidateResult">
    <part name="body" element="xkms:ValidateResult"/>
  </message>
  <message name="RegisterRequest">
    <part name="body" element="xkms:RegisterRequest"/>
  </message>
  <message name="RegisterResult">
    <part name="body" element="xkms:RegisterResult"/>
  </message>
  <message name="ReissueRequest">
    <part name="body" element="xkms:ReissueRequest"/>
  </message>
  <message name="ReissueResult">
    <part name="body" element="xkms:ReissueResult"/>
  </message>
  <message name="RevokeRequest">
    <part name="body" element="xkms:RevokeRequest"/>
  </message>
  <message name="RevokeResult">
    <part name="body" element="xkms:RevokeResult"/>
  </message>
  <message name="RecoverRequest">
    <part name="body" element="xkms:RecoverRequest"/>
  </message>
  <message name="RecoverResult">
    <part name="body" element="xkms:RecoverResult"/>
  </message>

  <portType name="XKMSPortType">
    <operation name="Pending">
      <input message="tns:PendingRequest"/>
      <output message="tns:PendingResult"/>
    </operation>
    <operation name="Compound">
      <input message="tns:CompoundRequest"/>
      <output message="tns:CompoundResult"/>
    </operation>
    <operation name="Status">
      <input message="tns:StatusRequest"/>
      <output message="tns:StatusResult"/>
    </operation>
    <operation name="Locate">
      <input message="tns:LocateRequest"/>
      <output message="tns:LocateResult"/>
    </operation>
    <operation name="Validate">
      <input message="tns:ValidateRequest"/>
      <output message="tns:ValidateResult"/>
    </operation>
    <operation name="Register">
      <input message="tns:RegisterRequest"/>
      <output message="tns:RegisterResult"/>
    </operation>
    <operation name="Reissue">
      <input message="tns:ReissueRequest"/>
      <output message="tns:ReissueResult"/>
    </operation>
    <operation name="Revoke">
      <input message="tns:RevokeRequest"/>
      <output message="tns:RevokeResult"/>
    </operation>
    <operation name="Recover">
      <input message="tns:RecoverRequest"/>
      <output message="tns:RecoverResult"/>
    </operation>
  </portType>

  <binding name="SOAPBinding" type="tns:XKMSPortType">
    <soap:binding
      transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Pending">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Compound">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Status">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Locate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Register">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Reissue">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Revoke">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Recover">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="XKMSService">
    <port name="XKMSPort" binding="tns:SOAPBinding">
      <soap:address location="http://@httpsserver.hostname@:@xkms.serviceport@/ejbca/xkms/xkms"/>
    </port>
  </service>

</definitions>

